<br />
<div class="container" ng-app="App" ng-controller="homeCtrl">



    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
        <li><a data-toggle="tab" href="#menu1">เข้ารหัส</a></li>
        <li><a data-toggle="tab" href="#menu2">ถอดรหัส</a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <h3>HOME</h3>
        </div>

        <div id="menu1" class="tab-pane fade">
            <br />
            <form name="encryptForm">

                <div class="input-group" style="margin-bottom:5px">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <div class="dropdown">
                        <select class="form-control" name="ddl_pj" ng-model="encrypt" ng-options="x.name for x in pj" required>
                            <option value="">---Please select---</option>
                        </select>
                    </div>
                </div>

                <div class="input-group" style="margin-bottom:5px">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="text" name="key" value="{{encrypt.key}}" class="form-control" disabled required />
                </div>
                <div class="input-group" style="margin-bottom:5px">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="text" name="vector" value="{{encrypt.vector}}" class="form-control" disabled required />
                </div>
                <div class="input-group" style="margin-bottom:5px">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="msg1" type="text" class="form-control" name="msg1" ng-model="encrypt.Data">
                </div>
                <div class="input-group" style="margin-bottom:5px">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="text" onclick="$(this).select()" value="{{ encrypOutput }}" class="form-control" />
                </div>
                <div class="input-group" style="margin-bottom:5px">
                    <button type="button" class="btn btn-default btn-block" ng-click="encryp() ">encrypt</button>
                </div>
            </form>
        </div>

        <div id="menu2" class="tab-pane fade">
            <br />
            <form name="decryptForm">
                <div class="input-group" style="margin-bottom:5px">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <div class="dropdown">
                        <select class="form-control" name="ddl_pj" ng-model="decrypt" ng-options="x.name for x in pjx" required>
                            <option value="">---Please select---</option>
                        </select>
                    </div>
                </div>

                <div class="input-group" style="margin-bottom:5px">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="text" name="key" ng-model="decrypt.key" class="form-control" disabled required />
                </div>
                <div class="input-group" style="margin-bottom:5px">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="text" name="vector" ng-model="decrypt.vector" class="form-control" disabled required />
                </div>

                <div class="input-group" style="margin-bottom:5px">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="msg2" type="text" class="form-control" name="msg2" ng-model="decrypt.Data" required>
                </div>
                <div class="input-group" style="margin-bottom:5px">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="text" onclick="$(this).select()" value="{{ decrypOutput }}" class="form-control" />

                </div>
                <div class="input-group" style="margin-bottom:5px">
                    <button type="button" ng-disabled="decryptForm.msg2.$error.required" class="btn btn-default btn-block" ng-click="decryp() ">decrypt</button>
                </div>
            </form>

        </div>
    </div>
</div>
<script src="~/Scripts/Home/home.js"></script>