<br />
<div class="container" ng-app="App" ng-controller="homeCtrl">

    <div class="row ">
        <div class="col-lg-3 col-sm-12">
            <div class="row col-sm-12">
                <div class="dropdown">
                    <select class="form-control" ng-model=" encrypt" ng-options="x.name for x in pj">
                        <option value="">---Please select---</option>
                    </select>
                </div>
            </div>
            <div class="row col-sm-12"><input type="text" name="key" value="{{encrypt.key}}" class="form-control" disabled /></div>
            <div class="row col-sm-12"><input type="text" name="vector" value="{{encrypt.vector}}" class="form-control" disabled /></div>
            <div class="row col-sm-12"><input id="tainputEncrypt" class="form-control" ng-model="encrypt.Data" ng-change="encryp()"></div>
        </div>

        <div class="col-lg-9 col-sm-12">
            <pre style="overflow:auto;margin-right:15px;margin-left:0px"> {{ encrypOutput }}</pre>                      
        </div>
    </div>





    @*<div class="row">

            <div class="col-lg-4">
                <label>Project</label>
                <select ng-model="Project">
                    <option ng-repeat="x in project" value="{{x.name}}">{{x.name}}</option>
                </select>

            </div>
            <div class="col-lg-4">
                <label>Key</label>
                <select ng-model="encrypt.Key">
                    <option ng-repeat="x in key" value="{{x.key}}">{{x.key}}</option>
                </select>
            </div>
            <div class="col-lg-4">
                <label>Vector</label>
                <select ng-model="encrypt.Vector">
                    <option ng-repeat="x in vector" value="{{x.key}}">{{x.key}}</option>
                </select>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-4">
                <textarea id="tainputEncrypt" cols="5" class="form-control" rows="5" ng-model="encrypt.Data" ng-change="encryp()"></textarea>
            </div>

            <div class="col-lg-8">
                <textarea id="taoutputEncrypt" class="form-control" rows="5" ng-model="encrypOutput"></textarea>
            </div>

        </div>
        {{encrypt}}
        <br />
        <hr />

        <div class="row">

            <div class="col-lg-4">
                <label>Project</label>
                <select ng-model="Project">
                    <option ng-repeat="x in project" value="{{x.name}}">{{x.name}}</option>
                </select>

            </div>
            <div class="col-lg-4">
                <label>Key</label>
                <select ng-model="objdecrypt.Key">
                    <option ng-repeat="x in key" value="{{x.key}}">{{x.key}}</option>
                </select>
            </div>
            <div class="col-lg-4">
                <label>Vector</label>
                <select ng-model="objdecrypt.Vector">
                    <option ng-repeat="x in vector" value="{{x.key}}">{{x.key}}</option>
                </select>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-4">
                <textarea id="tainputDecrypt" cols="5" class="form-control" rows="5" ng-model="objdecrypt.data" ng-change="mydecrypt()"></textarea>
            </div>

            <div class="col-lg-8">
                <textarea id="taoutputDecrypt" class="form-control" rows="5" ng-model="decrypOutput"></textarea>
            </div>

        </div>
        {{decrypOutput}}
        <br />
        <hr />


        <div class="row">
            <div class="col-lg-6">

                <fieldset>
                    <legend>Encode:</legend>
                    <div class="col-lg-6">
                        <label>String</label>
                        <input type="text" class="form-control" ng-model="encode_input" ng-change="converter.encode()" />
                    </div>
                    <div class="col-lg-6">
                        <label>Base64</label>
                        <input type="text" class="form-control" value="{{encode}}" />
                    </div>
                </fieldset>
            </div>
            <div class="col-lg-6">
                <fieldset>
                    <legend>Decode:</legend>
                    <div class="col-lg-6">
                        <label>Base64</label>
                        <input type="text" class="form-control" ng-model="decode_input" ng-change="converter.decode()" />
                    </div>
                    <div class="col-lg-6">
                        <label>String</label>
                        <input type="text" class="form-control" value="{{decode}}" />
                    </div>
                </fieldset>
            </div>

        </div>*@
</div>
<script src="~/Scripts/Home/home.js"></script>